@import '../../vendor/fonts/fonts.scss';

$font_title: 'MarvinSlab', Arial, sans-serif;
$font_subtitle: 'MarvinSlab', Arial, sans-serif;
$font_main: 'VinSansPro', Arial, sans-serif;
$font_inter: 'Inter', Arial, sans-serif;

$color_black: #000000;
$color_white: #ffffff;

$color_accent: #d94220;
$color_accent-light: #ff7b5e;
$color_accent-dark: #942815;
$color_ylients: #4d1709;

$color_dark-bg: #21363b;
$color_title: #2e5d66;
$color_controls: #37787d;
