.filial {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: relative;

  &::before {
    content: '';
    background: url('../../../images/bg/bg_filial.jpg') no-repeat;
    background-size: 65%;
    background-position: 40% 40%;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    background: url('../../../images/icons/deco/line_header.svg') no-repeat;
    height: 10px;
    width: 100%;
    background-position: 150% bottom;
    background-size: 600px;
    background-repeat: no-repeat;
    z-index: 2;
    display: none;
  }
}

@include atTablet700 {
  .filial::after {
    height: 16px;
    display: block;
    background-position: center bottom;
    background-size: 700px;
    bottom: 0;
  }
}
@include atDesktop1200 {
  .filial::after {
    height: 36px;
    background-position: 50% bottom;
    background-size: 1500px;
    bottom: 0;
  }
}
