.franchise-map {
  width: 90vw;
  height: 300px;
}

[class*='copyrights-pane'] {
  display: none !important;
}

[class*='ground-pane'] {
  filter: grayscale(0.5) !important;
}
.ymaps3x0--map-copyrights__container {
  display: none;
}
.custom-balloon {
  font-family: $font_main;

  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: $color_controls;
  background-color: #fff;
}
.custom-balloon p {
  text-align: left;
  word-wrap: break-word;
  max-width: 150px;
}
ymaps[class$='balloon__content'] {
  height: 45px;
  padding: 5px;
}

ymaps[class$='balloon__layout'] {
  padding: 0;
  border-radius: 10px;
}
.ymaps-2-1-79-balloon {
  border-radius: 10px;
}
@include atTablet700 {
  .franchise-map {
    max-width: 600px;
    height: 400px;
  }
}
@include atDesktop1200 {
  .franchise-map {
    max-width: 1000px;
    height: 500px;
  }
}
